public_html/xsl/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="note">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="subject" type="xs:string"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="scopeNote" type="xs:string"/>
      <xs:element name="parentTerm" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>